@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #A2C2C4;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.pool {
  background-color: #fff;
  color: #333;
  border: 2px #997D4E solid;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 10px 0;
}

.edge {
  background-color: #fff;
  color: #333;
  border: 3px #3A4B83 solid;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 10px 0;
}

.characterStat {
  font-size: 3rem;
  background-color: #fff;
  color: #333;
  border: 2px #333 solid;
  border-radius: 15px;
  padding: 15px 30px;
  margin: 10px 0;
}

.cost {
  background-color: #fff;
  color: #333;
  border: 2px #997D4E solid;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 10px 0;
}

.armor-value {
  background-color: #fff;
  color: #333;
  border: 2px #997D4E solid;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 10px 0;
}
